[Unit]
Description=PentaVision Auto Update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/pentavision/app/deploy/pentavision_autoupdate.sh
